<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zifangsky.mapper.WeatherProvinceMapper" >
  <resultMap id="BaseResultMap" type="cn.zifangsky.model.WeatherProvince" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="country_id" property="countryId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, country_id, name, description
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from weather_province
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from weather_province
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.zifangsky.model.WeatherProvince" >
    insert into weather_province (id, code, country_id, 
      name, description)
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{countryId,jdbcType=BIGINT}, 
      #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.zifangsky.model.WeatherProvince" >
    insert into weather_province
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="countryId != null" >
        country_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="countryId != null" >
        #{countryId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.zifangsky.model.WeatherProvince" >
    update weather_province
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="countryId != null" >
        country_id = #{countryId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.zifangsky.model.WeatherProvince" >
    update weather_province
    set code = #{code,jdbcType=VARCHAR},
      country_id = #{countryId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
   <sql id="sqlfileders">
		<bind name="fileders"
			value="#{'id':'id','code':'code','name':'name','description':'description','countryId':'country_id'}" />
		<bind name="javapropertys"
			value="#{'id':'id','code':'code','name':'name','description':'description','country_id':'countryId'}" />
	</sql>
	<select id="findAll" resultMap="BaseResultMap" parameterType="java.util.Map">
    <![CDATA[
    	 select x.* from (
    	]]>
		select
		<include refid="Base_Column_List" />
		from
		weather_province
		<where>
			<if test="province.code != null" >
		        code = #{province.code,jdbcType=VARCHAR}
	        </if>
	        <if test="province.name != null" >
	            and name = #{province.name,jdbcType=VARCHAR}
	        </if>
	        <if test="province.countryId != null" >
	            and country_id = #{province.countryId,jdbcType=BIGINT}
	        </if>
	        <if test="province.description != null" >
	            and description = #{province.description,jdbcType=VARCHAR}
	        </if>
		</where>
		<if test="pageInfo.sortName != null">
			<include refid="sqlfileders" />
			<bind name="orderfield" value="#this.fileders[pageInfo.sortName]" />
			order by ${orderfield} ${pageInfo.sortOrder}
		</if>
		    <![CDATA[ ) x limit ]]>
		#{pageInfo.from},#{pageInfo.perSize}
	</select>
	<select id="findAllCount" resultType="java.lang.Long" parameterType="cn.zifangsky.model.WeatherProvince" >
		select count(1) from
		weather_province
		<where>
			<if test="code != null" >
		        code = #{code,jdbcType=VARCHAR}
	        </if>
	        <if test="name != null" >
	            and name = #{name,jdbcType=VARCHAR}
	        </if>
	        <if test="countryId != null" >
	            and country_id = #{countryId,jdbcType=BIGINT}
	        </if>
	        <if test="description != null" >
	            and description = #{description,jdbcType=VARCHAR}
	        </if>
		</where>
	</select>
	
	<select id="selectAll" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from weather_province
	</select>
</mapper>